.top-bar {
    overflow: hidden;
    height: 2.8125rem;
    line-height: 2.8125rem;
    background-color: #333;

    .title-area {
        float: left;
    }

    a {
        text-decoration: none;
        padding: 0 0.83333rem;
    }

    h1 {
        font-size: 1.0625rem;
        line-height: 2.8125rem;
        margin: 0;
    }

    .top-bar-section ul li {
        float: left;
    }

    .divider {
        border-right: solid 1px #4e4e4e;
        height: 2.8125rem;
        clear: none;
    }
}
