@import 'topbar';
@import 'forms';
@import 'buttons';

.container {
    margin-top: 20px;
    position: relative;
    height: 99vh;
}

.message-box {
    position: absolute;
    bottom: 0;
    height: 8rem;
    width: 100%;
    background-color: #ddd;
}

.danger {
    background-color: #e72000;
    color: #fff;
    padding: 0.8125rem;
}

div[ng-show] {
    -webkit-animation: fadeOut 1s ease-out 2s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0;
         display: none;}
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to {
        opacity: 0;
        display: none;
    }
}
