section.container(ng-controller='ChatsController')
  .row.message-box
    .col.col-7
      input(type='text', id='message' class='col col-11')
    .col.col-4
      input(type='button', id='send' value='Send')
