section.container(ng-controller='RegistrationsController')
  .row
    .col-col-12.danger(ng-show="error.status == 500")
      div {{error.message}}
  .row
    form(class='form-default', method='post', ng-submit="createUser()")
      .form-element
        label(for='username') UserName
        input(type='text', name='username', ng-model="formData.username")
      .form-element
        input(type='submit', value='Check and Submit', class='button btn-small')
