doctype html
html
  head
    title!= title
    link(rel="stylesheet", type="text/css", href="style.css")
    link(rel="stylesheet", type="text/css", href="custom.css")
  body(ng-app='chatApp')
    header.top-bar
      .title-area
        h1
          a(href='#') Brand
      section.top-bar-section
        ul.left.list-unstyled
          li
            a(href='#') Left Nav1
          li
            a(href='#') Left Nav2
        ul.right.list-unstyled
          li.divider
          li.divider
            a(href='#') Right Nav3
          li.divider
            a(href='#') Right Nav4
    block container
      div(ng-view)

    block scripts
      script(type="text/javascript" src="jlite.js")
      script(type="text/javascript" src="/socket.io/socket.io.js")
      script(type="text/javascript" src="angular.js")
      script(type="text/javascript" src="angular-route.js")
      script(type="text/javascript" src="data.js")
