.top-bar {
  overflow: hidden;
  height: 2.8125rem;
  line-height: 2.8125rem;
  background-color: #333; }
  .top-bar .title-area {
    float: left; }
  .top-bar a {
    text-decoration: none;
    padding: 0 0.83333rem; }
  .top-bar h1 {
    font-size: 1.0625rem;
    line-height: 2.8125rem;
    margin: 0; }
  .top-bar .top-bar-section ul li {
    float: left; }
  .top-bar .divider {
    border-right: solid 1px #4e4e4e;
    height: 2.8125rem;
    clear: none; }

.form-default .form-element {
  display: block;
  margin: 1em 0;
  padding: 0 1rem; }
.form-default label {
  display: block;
  margin-bottom: 0.625em; }

.btn-small {
  padding: 0.625em 1em; }

.btn-big {
  padding: 1em 3em; }

.btn-medium {
  padding: 0.8521em 1.625em; }

.container {
  margin-top: 20px;
  position: relative;
  height: 99vh; }

.message-box {
  position: absolute;
  bottom: 0;
  height: 8rem;
  width: 100%;
  background-color: #ddd; }

.danger {
  background-color: #e72000;
  color: #fff;
  padding: 0.8125rem; }

div[ng-show] {
  -webkit-animation: fadeOut 1s ease-out 2s forwards; }

@keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0;
    display: none; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0;
    display: none; } }
